doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    - if (messages)
      - if (messages.error)
        .message.error
          span= messages.error
    block content
