doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    - if (messages)
      each error in messages
        .message.error
          span= error
    block content
