extends layout

block content
  h1 Task Creation

  form(name='new-task', action='/tasks', method='post')
    label(for='new-task-title') Title
    input#new-task-title(type='text', name='title')
    label(for='new-task-owner') Owner
    input#new-task-owner(type='text', name='user')
    label(for='new-task-email') Email
    input#new-task-email(type='email', name='email')
    button(type='submit') Create
