extends layout

block content
  h1 Task Creation

  form(name='new-task', action='/tasks', method='post')
    input#new-task-title(type='text', name='title', placeholder='Title')
    br
    input#new-task-owner(type='text', name='name', placeholder='Name')
    br
    input#new-task-email(type='email', name='email', , placeholder='Email')
    br
    button(type='submit') Create
